.Rproj.user
.Rhistory
.RData
.Ruserdata

# Random docs

qiimer_0.9.4.tar.gz
rtools42-5355-5357.exe
D2287E8D3A112827DDED87E4E1AC3370CCA377088CA8EC24ED2C2C09EC0822DE.tgz
Raw_data_mastersheet.csv

# Folders
UNITE_ITS/
miseqsopdata/

